<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('./partials/head') %>
    <title>eVins | Home</title>
</head>

<body>
    <%- include ('./partials/header') %>
    <% if (typeof usuarioALoguearse != 'undefined' ){%>
        <p>Hola <%=usuarioALoguearse.email %></p> 
        <% } %>
    <main>
            <article>
                <img style="width:100% ;" src="images/banner-vinos-ed.jpg" alt="Banner">
            </article>
            <article>
                    <p class="titulares">VINOS</p>
                        <div class="article">
                            <% for(producto of vinos) {%>
                                <div class="articulo">
                                    <a href="/product/<%=producto.id%>">
                                        <div class="divImagen">
                                            <img class="imagenes" src="images/producto.jpg" alt="Vino">
                                        </div>
                                        <div class="caja">
                                            <div class="precioDescuento">
                                                <p id="precio">$<%=producto.price%></p>
                                            </div>
                                            <br>
                                            <p id="descripcion"><%=producto.name%></p>
                                        </div>
                                    </a>
                                </div>
                            <%}%>
                        </div>    
            </article>
            <article>
                <p class="titulares">ESPUMANTES</p>
                <div class="article">
                    <% for(producto of espumantes) {%>
                        <div class="articulo">
                            <a href="/product/<%=producto.id%>">
                                <div class="divImagen">
                                    <img class="imagenes" src="images/producto.jpg" alt="Vino">
                                </div>
                                <div class="caja">
                                    <div class="precioDescuento">
                                        <p id="precio">$<%=producto.price%></p>
                                    </div>
                                    <br>
                                    <p id="descripcion"><%=producto.name%></p>
                                </div>
                            </a>   
                        </div>
                    <%}%>
            </article>
            <article>
                <p class="titulares">PROMOCIONES</p>
                <div class="article">
                    <% for(producto of descuento) {%>
                        <div class="articulo">
                            <a href="/product/<%=producto.id%>">
                                <div class="divImagen">
                                    <img class="imagenes" src="images/producto.jpg" alt="Vino">
                                </div>
                                <div class="caja">
                                    <div class="precioDescuento">
                                        <p id="precio">$<%=producto.price%></p>
                                        <p id="descuento"><%=producto.descuento%>% OFF</p>
                                    </div>
                                    <br>
                                    <p id="descripcion"><%=producto.name%></p>
                                </div>
                            </a>
                        </div>
                    <%}%>
                </div>
            </div>
        </article>
    </main>
    <%- include ('./partials/footer') %>

</body>

</html>