<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('./partials/head') %>
    <title>eVins | Home</title>
</head>

<body>
    <%- include ('./partials/header') %>



    <main>
            <article>
                <img style="width:100% ;" src="images/banner-vinos-ed.jpg" alt="Banner">
            </article>
            <article>
                    <p class="titulares">VINOS    <% if ( locals && locals.usuario  ){%>
        <p>Hola <%=locals.usuario %></p> 
        <% } else{ %>
            <p>No existe</p>
            <% } %> </p>

                        <div class="article">
                            <% for(let i = 0; i < 4; i++) {%>
                                <div class="articulo">
                                    <a href="/product/<%=vinos[i].product_id%>">
                                        <div class="divImagen">
                                            <img class="imagenes" src="images/producto.jpg" alt="Vino">
                                        </div>
                                        <div class="caja">
                                            <div class="precioDescuento">
                                                <p id="precio">$<%=vinos[i].price%></p>
                                            </div>
                                            <br>
                                            <p id="descripcion"><%=vinos[i].product_name%></p>
                                        </div>
                                    </a>
                                </div>
                            <%}%>
                        </div>    
            </article>
            <article>
                <p class="titulares">ESPUMANTES</p>
                <div class="article">
                    <% for(let i = 0; i < 4; i++) {%>
                        <div class="articulo">
                            <a href="/product/<%=espumantes[i].product_id%>">
                                <div class="divImagen">
                                    <img class="imagenes" src="images/producto.jpg" alt="Vino">
                                </div>
                                <div class="caja">
                                    <div class="precioDescuento">
                                        <p id="precio">$<%=espumantes[i].price%></p>
                                    </div>
                                    <br>
                                    <p id="descripcion"><%=espumantes[i].product_name%></p>
                                </div>
                            </a>   
                        </div>
                    <%}%>
            </article>
            <article>
                <p class="titulares">PROMOCIONES</p>
                <div class="article">
                    <% for(let i = 0; i < 4; i++) {%>
                        <div class="articulo">
                            <a href="/product/<%=descuento[i].product_id%>">
                                <div class="divImagen">
                                    <img class="imagenes" src="/images/producto.jpg" alt="Vino">
                                </div>
                                <div class="caja">
                                    <div class="precioDescuento">
                                        <p id="precio">$<%=descuento[i].price%></p>
                                        <p id="descuento"><%=descuento[i].discount%>% OFF</p>
                                    </div>
                                    <br>
                                    <p id="descripcion"><%=descuento[i].product_name%></p>
                                </div>
                            </a>
                        </div>
                    <%}%>
                </div>
            </div>
        </article>
    </main>
    <%- include ('./partials/footer') %>

</body>

</html>