<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../../css/productCart.css">
    <link href="../../css/style.css" rel="stylesheet">
    <%- include ('../partials/head') %>
    <title>eVins | Edicion de producto</title>
</head>
<body>
    <%- include('../partials/header') %>

 <main>

<section>
  <br>
  <div class="divForm">
    <form action="/product/edit/<%= productoEditable.id %>?_method=PUT" method="POST">
      <div class="row product-detail">
        <div class="divForm col-md-6">
          <label for="id" class="form-label">ID Producto:</label>
          <input type="text" value="<%= typeof productoEditable != 'undefined' ? productoEditable.id : ' ' %> " id="id" name="id" class="form-input">
        </div>
        <div class="divForm col-md-6">
          <label for="nombre" class="form-label">Nombre del producto:</label>
          <input type="text" value="<%= typeof productoEditable != 'undefined' ? productoEditable.name : ' ' %> " id="name" name="name" class="form-input">
        </div>
        <div class="divForm">
          <label for="category" class="form-label">Categoría:</label>
          <select name="category" id="category" class="form-input">
            <option value="<%= typeof productoEditable != 'undefined' ? productoEditable.category : ' '%>" selected><%= typeof productoEditable != 'undefined' ? productoEditable.category : ' ' %></option>
            <option value="vinos">Vinos</option>
            <option value="Espumantes">Espumantes</option>
            <option value="Destilados">Destilados</option>
            <option value="Accesorios">Accesorios</option>
          </select>
        </div>
        <div>
          <label for="descuento" class="form-label">Descuento (%):</label>
          <input type="text" value="<%= typeof productoEditable != 'undefined' ? productoEditable.descuento : ' '%>" id="descuento" name="descuento" class="form-input">
        <div class="divForm">
          <label for="description" class="form-label">Descipción:</label>
          <textarea name="description" value="<%= typeof productoEditable != 'undefined' ? productoEditable.description : ' ' %> " id="description" class="form-input"><%=productoEditable.description %></textarea>
        </div>
        <div class="divForm col-md-6">
          <label for="precio" class="form-label">Precio del producto:</label>
          <input type="text" value="<%= typeof productoEditable != 'undefined' ? productoEditable.price : ' ' %> " id="price" name="price" placeholder="Ej: 5678" class="form-input">
        </div>
        <div class="divForm">
          <button type="submit" >Editar producto</button>
        </div>
      </div>
    </form>
    <form action="/product/edit/<%= productoEditable.id %>?_method=DELETE" method="POST">
    <button type="submit">Borrar producto</button>
    </form>
  </div>
</section>
</main>

 <%- include('../partials/footer') %>
</body>
</html>