<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="..\css\productCart.css">
    <%- include ('../partials/head') %>
    <title>eVins | Carga de producto</title>
</head>
<body>
    
  <%- include('../partials/header') %>
 <main>

<section>
  <br>
  <div class="divForm">
    <form id="formulario" action="/product" method="POST" enctype="multipart/form-data">
      <div class="row product-detail">
        <div class="divForm col-md-6">
          <label for="name" class="form-label">Nombre del producto:</label>
          <input type="text" name="name"  id="name" placeholder="Ej: Catena Malbec " class="form-input">
        </div>
        <div>
          <label for="imported" class="form-label">Importado:</label>
          <label>SI <input type="radio"  name="imported" value="true"></label>
          <label>NO <input type="radio"  name="imported" value="false" checked></label>
        </div>
        <div class="divForm ">
          <label for="category" class="form-label">Categoría:</label>
          <select name="category" id="category">
            <% for (let i = 0; i < category.length; i ++) { %> 
              <option value="<%= category[i].id %> ">
                <%= category[i].cat_name %> 
              </option>
            <% } %>
          </select>
        </div>
        <div class="divForm ">
          <label for="brand" class="form-label">Marca:</label>
          <select name="brand" id="brand">
            <% for (let i = 0; i < brand.length; i ++) { %> 
              <option value="<%= brand[i].id %> ">
                <%= brand[i].brand_name %> 
              </option>
            <% } %>
          </select>
        </div>
        <div class="divForm ">
          <label for="fotoProducto">Foto de producto:</label>
          <input type="file" name="image">
          </div>
        <div class="divForm">
          <label for="description" class="form-label">Descipción:</label>
          <textarea name="description" id="description" class="form-input"></textarea>
        </div>
        <div class="divForm">
          <label for="details">Detalles Tecnicos:</label>
          <textarea name="details" class="form-input"></textarea>
        </div>
        <div class="divForm">
          <label for="price" class="form-label">Precio del producto:</label>
          <input type="number" name="price" placeholder="Ej: 5678" class="form-input">
        </div>
        <div>
          <label for="oferta" class="form-label">En oferta:</label>
          <label>SI <input type="radio"  name="enOferta" value="si"  onclick="document.getElementById('descuento').removeAttribute('disabled')"></label>
          <label>NO <input type="radio"  name="enOferta" value="no" checked onclick="document.getElementById('descuento').setAttribute('disabled')"></label>
        </div>
        <div>
          <label for="descuento" class="form-label">Descuento (%):</label>
          <input type="number" id="descuento" name="descuento" placeholder="Ej: 15" disabled>
        </div>
        <div class="divForm">
          <button type="submit" class="boton">Guardar producto</button>
        </div>
        <div class="divErrores" id="divErrores">
          <ul></ul>
        </div>
      </div>
    </form>
  </div>
</section>
</main>
<script src="../../js/productValidator.js"></script>

 <%- include('../partials/footer') %>
</body>
</html>