<!DOCTYPE html>
<html lang="en">
<head>
    <link href="../../css/productDetails.css" rel="stylesheet">
    <%- include ('../partials/head') %>
    <title>eVins | Detalle de producto</title>
</head>
<body>
    <%- include ('../partials/header') %>
    <main>
        <article>
            <p class="ustedEstaAqui">
                <a href="/index.html" class="ustedEstaAqui">Inicio / Vinos</a></a>
            </p>
                <div class="productDetails">
                    <div class="divImgProducto">
                        <img class="fotoProducto" src="../../images/productos/<%= product.image %>">
                    </div>
                    <div class="divDetalleProducto">
                        <p class="nombreProducto">
                            <%=product.product_name%>
                        </p>
                        <p class="marcaProducto">
                            <%=brand[product.brand_id -1].brand_name%>
                        </p>
                        <span class="precioProducto">
                           $ <%= product.price %>
                        </span>
                        <span class="descuento">
                           <%= product.discount %> 
                        </span>
                        <br>
                        <p  class="descripcionProducto"> 
                            <%= product.descript %>
                        </p>
                        <div class="agregarAlCarrito">
                            <form class="formCarrito" action="" method="POST">
                                <label>Cantidad: </label> 
                                <input class="inputCantidad" type="number" name="cantidad">
                                <input class="botonCantidad" type="submit" value="AGREGAR AL CARRITO">
                            </form>
                        </div>
                    </div>
                </div>
                <div class="especifTecnicas">
                    <p>ESPECIFICACIONES TECNICAS</p>
                
                    <%= product.details %>
                </div>

                <div style ="text-align: center;" >
                    <a href="/product/edit/<%=product.product_id%>"><button class="botonCantidad" type="submit">Editar Producto</button></a> <br/>
                </div>
           </article>
    </main>
    <%- include ('../partials/footer') %>
</body>
</html>
