<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('../partials/head') %>
    <title>eVins | Home</title>
</head>

<body>
    <%- include ('../partials/header') %>



    <main>
            <article>
                <img style="width:100% ;" src="../images/banner-vinos-ed.jpg" alt="Banner">
            </article>
            <% if ( locals && locals.usuarioLogueado  ){%>
                <p>Hola <%=locals.usuarioLogueado %></p> 
                    <% } %> </p>
            <article>
                    <p class="titulares"><%=categoria%></p>   

                        <div class="article">
                            <% for(let i = 0; i < producto.length; i++) {%>
                                <div class="articulo">
                                    <a href="/product/<%=producto[i].product_id%>">
                                        <div class="divImagen">
                                            <img class="imagenes" src="../../images/productos/<%=producto[i].image%>" alt="Vino">
                                        </div>
                                        <div class="caja">
                                            <div class="precioDescuento">
                                                <p id="precio">$<%=producto[i].price%></p>
                                            </div>
                                            <br>
                                            <p id="descripcion"><%=producto[i].product_name%></p>
                                        </div>
                                    </a>
                                </div>
                            <%}%>
                        </div>    
            </article>
    </main>
    <%- include ('../partials/footer') %>

</body>

</html>