<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head') %>
    <title>eVins | Lista de productos</title>
</head>
<body>
    <%- include ('../partials/header') %>



    <main>

        <article>
            <div class="article">
                <% for(let i=0; i < product.length; i++) {%>
                    
                        <div class="articulo">                                    
                            <div class="divImagen">
                                    <img class="imagenes" src="images/producto.jpg" alt="Vino">
                            </div>
                            <div class="caja">
                                <div class="precioDescuento">
                                    <p id="precio">$<%= product[i].price%></p>
                                </div>
                                    <br>
                                    <p id="descripcion"><%=product[i].product_name%></p>
                            </div>                                    
                        </div>

                <%}%>
            </div>    
        </article>

    </main>
    <%- include ('../partials/footer') %>

</body>

</html>