<!DOCTYPE html>
<html lang="en">
<head>

    <link href="../css/login.css" rel="stylesheet">
    <%- include ('../partials/head') %>
    <title>eVins | Login</title>
</head>
<body>
    <%- include ('../partials/header') %>
    <main>
    <!-- //Muestra de errores -->
      <% if (typeof errors != 'undefined') { %>
        <p>ERROR</p>
        <ul>
            <% for (let i=0; i<errors.length; i++){ %>
                <li>
                  <%=errors[i].msg%>
                </li>
        <% } %> 
        </ul> 
        <% } %>
    <!-- //Muestra de session -->
      <% if (typeof usuarioALoguearse != 'undefined' ){%>
          <p>Hola <%=usuarioALoguearse.email %></p> 
          <% } %>    
        <h3 style="text-align: center">Ingresá tus datos</h3>
        <div class="login">
          <form action="/users/login" method="POST" class="form-login">
            <div>
              <label for="">
                <input type="email" name="email" placeholder="Ingrese su email" class="input-text" />
              </label>
            </div>
            <div>
              <input type="password" name="password" placeholder="Ingrese su contraseña" class="input-password"/>
            </div>
            <div>
              <label for="">Recordar Usuario</label>
              <input type="checkbox" name="recordarUsuario" id="">
            </div>
            <div class="errores-login">
              <ul></ul>
            </div>
            <div>
              <button type="submit">Enviar</button>
            </div>
          </form>
        </main>
        <%- include ('../partials/footer') %>
        <script src="../../js/users.js"></script>
  </body>
</html>
