<!DOCTYPE html>
<html lang="en">
<head>

    <link href="../../css/login.css" rel="stylesheet">
    <%- include ('../partials/head') %>
    <title>eVins | Login</title>
</head>
<body>
    <%- include ('../partials/header') %>
    <main>
    <!-- //Muestra de errores -->
      <% if (typeof errors != 'undefined') { %>
        <p>ERROR</p>
        <ul>
            <% for (let i=0; i<errors.length; i++){ %>
                <li>
                  <%=errors[i].msg%>
                </li>
        <% } %> 
        </ul> 
        <% } %>
    <!-- //Muestra de session -->
      <% if (typeof user != 'undefined' ){%>
          <p>Hola <%=user.email %></p> 
          <% } %>    
          <div>
            <div>
              <% if(user.image !== null){%>
                <img src="../../images/profile_images/<%=user.image%>">
                <%}else{%>
                <p>No cargaste una imagen</p>
              <%}%>
               
            </div>
            <div>
              

              <form action="/users/profile/<%= user.user_id %>?_method=PUT" method="POST">
                <label for="first_name">Nombre</label>
                <input class="boxInput" type="text" name="first_name" value="<%=user.first_name%>" required>
                <br>
                <label for="last_name">Apellido</label>
                <input class="boxInput" type="text" name="last_name"  value="<%=user.last_name%>"  required>
                <br>
                <label for="user_name">Nombre usuario</label>
                <input class="boxInput" type="text" name="user_name" value="<%=user.user_name%>"  required>
                <br>
            
                  <label for="fechaNacimiento">Correo electronico</label>
                <input class="boxInput" type="email" name="email" value="<%=user.email%>" required>
                <br>
            <label for="fechaNacimiento">Fecha de nacimiento</label>
                <input class="boxInput" type="date" name="birthday" value="<%=user.birthday%>" required>
                      <br>
            <label for="fotoUsuario">Foto de usuario:</label>
                <input type="file" name="image">
                <br>
                <input class="boxInput" type="password" id="password" name="password" placeholder="Contraseña" required>
                <br>
                <button type="submit">Actualizar usuario</button>
              </form>

            <form action="/users/profile/<%= user.user_id %>?_method=DELETE" method="POST">
            <button type="submit">Borrar usuario</button>
            </form>
            </div>
          </div>
          
    </main>
    <%- include ('../partials/footer') %>
</body>
</html>
