<!DOCTYPE html>
<html lang="en">
<head>

    <link href="../css/register.css" rel="stylesheet">
    <%- include ('../partials/head') %>
    <title>eVins | Registro</title>
</head>
<body>
    <%- include ('../partials/header') %>

 <main>

<section>
    <h3 style="text-align: center;">Creá tu cuenta <h3>
  <form action="/users" method="POST" enctype="multipart/form-data">
    <input class="boxInput" type="text" name="first_name" placeholder="Nombre" required>
    <br>
    <input class="boxInput" type="text" name="last_name" placeholder="Apellido" required>
    <br>
    <input class="boxInput" type="text" name="user_name" placeholder="Nombre de usuario" required>
    <br>
    <div class="divForm ">
        <label for="roleId" class="form-label">Rol de Usuario:</label>
        <select name="roleId" id="roleId">
          <% for (let i = 0; i < roles.length; i ++) { %> 
            <option value="<%= roles[i].id %> ">
              <%= roles[i].role_name %> 
            </option>
            <% console.log(roles[i].id) %>
          <% } %>
        </select>
      </div>
    <input class="boxInput" type="email" name="email" placeholder="E-mail" required>
    <br>
<label for="fechaNacimiento">Fecha de Nacimiento:</label>
    <input class="boxInput" type="date" name="birthday" required>
    <br>
    <input class="boxInput" type="text" name="address" placeholder="address" required>
    <br>
<label for="fotoUsuario">Foto de usuario:</label>
    <input type="file" name="image">
    <br>
    <input class="boxInput" type="password" id="password" name="password" placeholder="Contraseña" required>
    <br>

<button type="submit">Enviar</button>
<button type="reset">Resetear</button>
</form>
</section>
</main>

<%- include ('../partials/footer') %>
</body>
</html>