<!DOCTYPE html>
<html lang="en">

<head>

  <link href="../css/register.css" rel="stylesheet">
  <%- include ('../partials/head') %>
    <title>eVins | Registro</title>
</head>

<body>
  <%- include ('../partials/header') %>

    <main>
      <% if (typeof errors != 'undefined') { %>
        <p>ERROR</p>
        <ul>
            <% for (let i=0; i<errors.length; i++){ %>
                <li>
                  <%=errors[i].msg%>
                </li>
        <% } %> 
        </ul> 
        <% } %>
    <!-- //Muestra de session -->
      <% if (typeof usuarioARegistrarse != 'undefined' ){%>
          <p>Hola <%=usuarioAregistrarse.email %></p> 
          <% } %>    

      <section>
        <h3 style="text-align: center;">Creá tu cuenta <h3>
            <form action="/users" method="POST" enctype="multipart/form-data"  id='form-register' class="form-register">
              <input class="first_name" type="text" id="first_name" name="first_name" placeholder="Nombre" >
              <br>
              <input class="last_name" type="text" name="last_name"  id="last_name" placeholder="Apellido" >
              <br>
              <input class="user_name" type="text" name="user_name" id="user_name" placeholder="Nombre de usuario" >
              <br>
              <input class="email" type="email" id="email" name="email" placeholder="E-mail" >
              <br>
              <label for="fechaNacimiento">Fecha de Nacimiento:</label>
              <input class="boxInput" type="date" id="birthday" name="birthday" >
              <br>
              <input class="boxInput" type="text" name="address" id="address" placeholder="address" >
              <br>
              <label for="fotoUsuario">Foto de usuario:</label>
              <input type="file" id="image" name="image">
              <br>
              <input class="password" type="password" id="password" name="password" placeholder="Contraseña" >
              <br>

              <button type="submit">Enviar</button>
              <button type="reset">Resetear</button>
            </form>
      </section>
      <div class="divErrores" id="divErrores">
        <ul></ul>
      </div>
    </main>
    <script src="../../js/register.js"></script>
    <%- include ('../partials/footer') %>

</body>

</html>